<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Phoenix - Petar Ivanov</title>
    <meta name="description" content="Petar Ivanov - Django Project">

    <link href='https://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">

    <link rel="stylesheet" href="/static/css/website.css">

    <meta property="og:title" content="Phoenix - Petar Ivanov"/>
    <meta property="og:site_name" content="Phoenix"/>
    <meta property="og:description" content="Phoenix - Petar Ivanov"/>
  </head>

  <body>

    <div class="pure-g">
      <header class="pure-u-1">
        <h1 class="logo">
          <a href="/">Phoenix</a>
        </h1>
      </header>

      {% block 'home' %}

      {% endblock %}
    </div>

  </body>
</html>
