{% extends 'base.html' %}

{% block 'home' %}


<div class="pure-u-1 pure-u-md-1-3">
  <div class="pure-u-1-3"></div>
    <div class="pure-u-1-3">
      <h2 class="front_login">
        <a href="{% url 'website:login' %}">
          LogIn
        </a>
      </h2>
    </div>
</div>

<div class="pure-u-1 pure-u-md-1-3">
  <h2 class="front_or">OR</h2>
</div>

<div class="pure-u-1 pure-u-md-1-3">
  <div class="pure-u-1-3"></div>
    <div class="pure-u-1-3">
      <h2 class="front_reg">
        <a href="{% url 'website:register' %}">
          Register
        </a>
      </h2>
    </div>
    </div>
</div>

{% endblock %}
