/* website app main css */

.pure-button-primary {
  background-color: #E74C3C;
  text-align: center;
}

header {
  height: 53px;
  background-color: #00b0eb;
  width: 100%;
  margin-bottom: 40px;
  position: relative;
}

header .logo {
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 1.5em;
}

header .logo a {
  text-decoration: none;
  color: #fff;
  font-family: 'Gloria Hallelujah', cursive;
  transition: : color 0.3s;
}

header .logo a:hover {
  color: #222;
}

.front_login {
  font-size: 2em;
  text-align: center;
}

.front_reg {
  font-size: 2em;
  text-align: center;
}

.front_or {
  text-align: center;
  color: #2C3E50;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 3em;
}

.form-wrap {
  padding: 30px 80px;
}

.form-wrap input {
  margin-bottom: 0.5em;
}

.form-wrap legend {
  font-size: 1.5em;
}

.green-button {
  background-color: #1ABC9C;
}
